body {
    background-color: rgba(0, 0, 0, 0.89);
    color: snow;
    text-align: center;
}

.d {
    color: rgb(233, 233, 233);
}

h1 {
    color: green;
}

#descricao, #passagem, #habilidades {
    color: green;
}

.habilities {
    line-height: 10px;
    
}

.nome {
    color: green
}

#miguel {
    border-radius: 60px;
}

.trybe {
    color: green;
}

.link-imagem {
    color: greenyellow;
}

#cozinha, #githubs {
    border-radius: 10px;
}

#atencao {
    color: red;
}

.aqui {
    color: red;
}